# Ignore environment files containing secrets
.env
.env.*
.env.yaml
.env.local
.env.production

# Ignore environment files in backend
src/aica_backend/app.yaml
src/aica_backend/.env
src/aica_backend/.env.yaml
src/aica_backend/.env.local
